.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem 1rem;
}

.experience-heading {
  font-size: 56px;
  font-weight: 400;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.experience-container > * {
  flex: 1;
}

/* Media Query - Mobile First Approach */

/* Extra Small Devices (320px to 480px) */
@media (max-width: 480px) {
  .experience-heading {
    font-size: 24px;
    text-align: center;
  }
  .experience-cards-div {
    grid-template-columns: 1fr;
    gap: 1rem 0.5rem;
  }
  .experience-container {
    width: 95%;
  }
}

/* Small Devices / Tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
  .experience-cards-div {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* Medium Devices (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .experience-heading {
    font-size: 40px;
  }
  .experience-cards-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large Devices (1025px to 1380px) */
@media (min-width: 1025px) and (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

/* Extra Large Devices (1380px and up) */
@media (min-width: 1381px) {
  .experience-heading {
    font-size: 56px;
  }
}
