@import "../../_globalColor";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.greeting-main {
  display: flex;
}

.subTitle {
  color: $subTitle !important;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.empty-div {
  margin-bottom: 40px;
}

.button-greeting-div {
  display: flex;
  margin-top: 40px;
}
.download-link-button {
  text-decoration: none;
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  color: $textColor !important;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
}

.greeting-image-div > img {
  max-width: 100%;
  height: auto;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query - Mobile First Approach */

/* Extra Small Devices (320px to 480px) */
@media (max-width: 480px) {
  .main {
    width: 95%;
    padding: 15px 10px;
  }
  .greet-main {
    width: 95%;
    padding: 15px 10px;
  }
  .greeting-text {
    font-size: 24px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }
  .button-greeting-div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .greeting-image-div {
    height: 200px;
    order: -1;
    margin-bottom: 20px;
  }
  .empty-div {
    margin-bottom: 20px;
  }
}

/* Small Devices / Tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .greeting-text {
    font-size: 32px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }
  .button-greeting-div {
    justify-content: center;
    gap: 10px;
  }
  .greeting-image-div {
    height: 280px;
  }
}

/* Medium Devices (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}

/* Large Devices (1025px to 1380px) */
@media (min-width: 1025px) and (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}

/* Extra Large Devices (1380px and up) */
@media (min-width: 1381px) {
  .greeting-text {
    font-size: 70px;
  }
  .greeting-text-p {
    font-size: 30px;
    line-height: 40px;
  }
}
