code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import "./assets/fonts/fonts.css";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/** Responsive Font Sizes **/

/* Mobile - Extra Small Devices (320px and up) */
@media (min-width: 320px) and (max-width: 480px) {
  html,
  body {
    font-size: 14px;
    line-height: 1.5;
  }
}

/* Tablets - Small Devices (481px and up) */
@media (min-width: 481px) and (max-width: 768px) {
  html,
  body {
    font-size: 16px;
    line-height: 1.6;
  }
}

/* Medium Devices (769px and up) */
@media (min-width: 769px) and (max-width: 1024px) {
  html,
  body {
    font-size: 17px;
    line-height: 1.6;
  }
}

/* Large Devices (1025px and up) */
@media (min-width: 1025px) {
  html,
  body {
    font-size: 19px;
    line-height: 23px;
  }
}

/* Extra Large Devices (1380px and up) */
@media (min-width: 1380px) {
  html,
  body {
    font-size: 19px;
    line-height: 23px;
  }
}
